@define-color text  #ffffff;
@define-color bg  #000000;
@define-color act #708090;
@define-color hover  #384048;
@define-color purple #c061cb;
@define-color yellow #f6d32d;
@define-color orange #ff7800;
@define-color red #f01905;
@define-color green #00ff99;
