@define-color text  #ffffff;
@define-color bg  #050514;
@define-color act #05e6fb;
@define-color hover  #01373c;
@define-color purple #c061cb;
@define-color yellow #f6d32d;
@define-color orange #ff7800;
@define-color red #f01905;
@define-color green #00ff99;
